@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background: #22b4a1;
  color: white;
}

.navbar-brand, h1 {
  text-align: center;
}

.form-control {
}

.btn-add {
	float: right;
}

.header {  
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	h1 {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;   		
	}
	.logo {
	}
}