@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$cor-principal: #22b4a1;
body {
	background: darken($cor-principal,10%);
	color: white;
	height: auto !important;
	min-height: 100%;
}

.navbar-brand, h1 {
	text-align: center;
}

.form-control {
}


.btn-add {
	> md-icon {
		font-size: 25px;
		line-height: 100%;
	}
	float: right;
	background-color: $cor-principal !important;
	background: rgba(0,0,0,0.55) !important;
}

.header {  
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: $cor-principal !important;
	h3 {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		span {
			font-weight: bold;
		}
	}
	.logo {
	}
}


.card-container.card {
    width: 350px;
    padding: 20px 20px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 10px 15px 20px;
    margin: 0 auto 15px;
    margin-top: 20px;
}

.card-perola {  
    background-color: #F7F7F7;
    color: $cor-principal;
    md-card-content {
      padding: 0;
    }
    h2 {
      color: darken($cor-principal, 10%);
    }
    blockquote {
      border-color: $cor-principal;
      margin: 0;
    }
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.form-signin {
	#inputEmail,
	#inputPassword {
	    direction: ltr;
	    height: 44px;
	    font-size: 16px;
	}

	input[type=email],
	input[type=password],
	input[type=text],
	button {
	    width: 100%;
	    display: block;
	    margin-bottom: 10px;
	    z-index: 1;
	    position: relative;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.form-control:focus {
	    border-color: rgb(104, 145, 162);
	    outline: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
	}
	md-input-container {
		padding-bottom: 0px;
		&.md-default-theme {
			label, 
			.md-placeholder,
			.md-input,
			&:not(.md-input-invalid).md-input-focused label,
			&:not(.md-input-invalid).md-input-focused .md-input {
				color: $cor-principal;
				border-color: $cor-principal;
			}
		}
	}
}

.form-add {	
	md-input-container.md-default-theme {
		label, 
		.md-placeholder,
		.md-input,
		&:not(.md-input-invalid).md-input-focused label,
		&:not(.md-input-invalid).md-input-focused .md-input {
			color: white;
			border-color: white;
		}
	}
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
	&:hover,
	&:active,
	&:focus {
	    background-color: $cor-principal;
	}
}

.forgot-password {
    color: rgb(104, 145, 162);
	&:hover,
	&:active,
	&:focus{
	    color: rgb(12, 97, 33);
	}
}