<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="img/avatar.png" />
        <form class="form-signin">
            <input type="email" id="inputEmail" ng-model="user.email" class="form-control" placeholder="Email" required autofocus>
            <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Senha" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="login(password)">Entrar</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->