h1 MagaPérolas \o/

form(role="form", ng-submit="addPerola()")
    div.input-group-sm
      span.input-group-addon Frase: 
      input.form-control(type="text", ng-model="newPerola.frase", autofocus)
    div.input-group-sm
      span.input-group-addon  Autor: 
      input.form-control(type="text", ng-model="newPerola.autor")
    span.input-group-btn
      button.btn.btn-default.btn-add(type="submit") Add

div(ng-repeat="perola in perolas")
  form(ng-hide="perola.editing")
      blockquote(ng-model="perola._cache.frase", readonly)
        h3 {{perola._cache.frase}}
        cite(ng-model="perola._cache.autor", readonly)        
          h5 {{perola._cache.autor}}
          //- ng-dblclick="editingPerola(perola)", 
      //- span.input-group-btn
      //-   button.btn.btn-default(ng-click="editingPerola(perola)") Edit
      //-   button.btn.btn-default(ng-click="removePerola(perola)") Remove
  form(ng-submit="editPerola(perola)", ng-show="perola.editing")
    .input-group
      span.label Frase: 
      input.form-control(ng-model="perola.frase")
      span.label  Autor: 
      input.form-control(ng-model="perola.autor")
      span.input-group-btn
        button.btn.btn-default(type="submit") Save
        .btn.btn-default(ng-click="cancelEditing(perola)") Cancel
        .btn.btn-default(ng-click="removePerola(perola)") Remove
